@import '~style/helpers';

.text {
	background-repeat: no-repeat;
	font-size: 1.2em;
	word-spacing: -1px;
	padding: 30px 40px 30px 50px;
	color: #1d0bbb;
	//color: #ffffaa;
	text-align: justify;
	text-shadow: none;
}



