@import '~style/helpers';

.text {
	background-repeat: no-repeat;
	font-size: 1.2em;
	padding: 30px 40px 30px 50px;
	color: #57086e;
	//color: #ffffaa;
	text-align: justify;
	text-shadow: none;
	//background-color: bisque;
}



