@import '~style/helpers';

@font-face {
	font-family: 'Doctor-Soos';
	src: local('Doctor-Soos'), url('../../assets/fonts/Doctor-Soos-Bold-2.1.ttf');
}

.weatherData {
	width: 13em;
	margin: 0 auto;
	margin-top: 3em;
	background-color: rgba(159, 4, 173, 0.945);
	//border: 4px solid #4f0b5500;
	box-shadow: 0 8px 16px 0 rgba(205, 0, 255, 0.2), 0 6px 20px 0 rgba(205,0,255,0.2);
	border-radius: 15px;
}

.city {
	flex: 1;
	font-size: 2.2em;
	font-weight: 400;
	color: #ffffaa;
}
.conditions {
	flex: 1;
	font-size: 2em;
	color: #ffffaa;
}
.temperature {
	font-size: 5em;
	letter-spacing: -5px;
	color: #ffffaa;
}
.filled:after {
	content: "°C";
	font-size: 0.5em;
	display: inline-block;
	vertical-align: top;
	font-family: Calibri;
}
.textBox {
	background-image: url('../../assets/characters/thoughtCloud.png');
	background-repeat: no-repeat;
	margin: 3em auto 0 auto;
	width: 300px;
	height: 155px;
	//background-color: #9f04adf1;
	//box-shadow: 0 8px 16px 0 rgba(205, 0, 255, 0.2), 0 6px 20px 0 rgba(205,0,255,0.2);
	//border-radius: 15px;
	//height: 100px;
}
.customise {
	font-size: 2.2em;
	width: 6em;
	color: #fffb00;
	margin: 0 auto;
	margin-top: 0.5em;
	background-color: rgba(159, 4, 173, 0.945);
	box-shadow: 0 8px 16px 0 rgba(205, 0, 255, 0.2), 0 6px 20px 0 rgba(205,0,255,0.2);
	border-radius: 15px;
}


  
