@import '~style/helpers';

@font-face {
	font-family: 'Doctor-Soos';
	src: local('Doctor-Soos'), url('../../assets/fonts/Doctor-Soos-Bold-2.1.ttf');
}

.tabListItem {
	display: inline-block;
	list-style: none;
	padding: 0.5rem 0.5rem;
	font-size: 1.7em;
}
  
.tabListActive {
	display: inline-block;
	list-style: none;
	padding: 0.5rem 0.5rem;
	font-size: 2rem;
	color:#fffb00;
	border: solid #ccc;
	border-width: 0px;
}

